@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: -12px;
    padding-right: -12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.heading {
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    line-height: 52px;
    color: #1E0E62;
}

.page {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #A1A1B0;
    text-align: left;
    
    padding-bottom: 14px;

}
tr{
    border-bottom: 2px solid #EBEAED;
}
.table1 {
    border-collapse: collapse;
    width: 100%;
}

.table,
th,
td {
    border: solid #FFFFFF;
    background-color: #FFFFFF;
}

.page1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
   
    padding-bottom: 14px;


}
.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    width: 270px;
    height: 326px;
    background: #EBEAED;
    margin-left: 131px;
    margin-top: 180px;
}

.heading1 {

    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    margin-left: 35px;
    padding: 20px;
}

.heading2 {

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #9D9CAC;
    margin-left: 35px;
    padding-top: 11px;
}

.btn {

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #25DAC5;
    background-color: #25DAC5;
    color: white;
    margin: 34px;
    padding: 7px 17px;
}